/vendor/*
/tmp/*
/logs/*
/bin/*
/plugins/*
/node_modules/
/webroot/coverage/
/webroot/upload/avatar/1/
/webroot/upload/blog/attachment/*
config/app.php
config/database.php
config/email.php
config/recaptcha.php
config/analytics-certificate.p12
config/Migrations/schema-dump-default.lock
.idea
.brackets.json
flo.js
composer.lock
cli-debug.log
cli-error.log
paypal.log
.settings
